    body {
        margin: 0;
        padding: 0;
    }
    /*navbar*/
    
    .navbar {
        position: absolute;
        width: 100%;
        height: 4.188rem;
        background: #FFCBA6;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    }
    
    .nav-link {
        position: relative;
        font-family: IBM Plex Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 0.875rem;
        text-align: center;
        color: #07106D;
        margin-left: 3.125rem;
        left: 2.775rem;
    }
    
    .nav-link:hover {
        color: #242424;
        text-decoration: none;
        transition: all 2s ease;
        font-size: 1rem;
    }
    /*search*/
    
    .search-venue input {
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: hidden;
        background-color: #FFFFFF;
    }
    
    .no-outline:focus {
        outline: none;
    }
    
    .search-bar {
        position: absolute;
        width: 25rem;
        height: 2.375rem;
        left: 8.375rem;
        top: 9.563rem;
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 2rem;
        line-height: 2.375rem;
        /* identical to box height */
        color: #07106D;
    }
    
    .search-bar::placeholder {
        position: absolute;
        width: 21.75rem;
        height: 2.375rem;
        left: 8.375rem;
        top: 9.563rem;
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 2rem;
        line-height: 2.375rem;
        /* identical to box height */
        color: #07106D;
        border: none;
        border-color: transparent;
    }
    
    .search-border {
        position: absolute;
        width: 31.813rem;
        height: 0px;
        left: 8.375rem;
        top: 12.875rem;
        border: 3px solid #07106D;
    }
    
    .result-bar {
        position: absolute;
        width: 18.125rem;
        height: 2.375rem;
        left: 8.375rem;
        top: 17.688rem;
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 2rem;
        line-height: 2.375rem;
        /* identical to box height */
        color: #07106D;
    }
    
    .search-border2 {
        position: absolute;
        width: 7.75rem;
        height: 0px;
        left: 8.375rem;
        top: 21.625rem;
        border: 5px solid #000000;
    }
    
    .nowrap {
        white-space: nowrap;
    }
    /*result*/
    
    .grid-container {
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-template-rows: repeat(5, auto);
        grid-gap: 3.125rem;
        justify-content: space-between;
        margin-left: 8.375rem;
        margin-right: 8.375rem;
        padding-top: 25rem;
    }
    
    .search-img {
        position: absolute;
        width: 21.75rem;
        height: 2.375rem;
        left: 37.375rem;
        top: 9.563rem;
        color: #000000;
    }
    
    .search-img:hover {
        color: #000000;
        text-decoration: none;
        transition: all 2s ease;
        font-size: 2.5rem;
    }
    
    .card0 {
        position: relative;
        width: 11.25rem;
        height: 16.375rem;
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
        border-radius: 0.625rem;
        padding: 1.25rem;
        text-align: center;
    }
    
    .card-img-top0 {
        position: absolute;
        left: 13.57%;
        right: 13.18%;
        top: 9.8%;
        bottom: 39.87%;
        background: #C4C4C4;
    }
    
    .card-title0 {
        position: absolute;
        left: 13.57%;
        right: 13.18%;
        top: 68.16%;
        bottom: 21.16%;
        font-family: IBM Plex Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 1.438rem;
        text-align: center;
        color: #000000;
    }